<div class="float-left w-100">
    <div class="group col-md-6 float-left">
        <div class="divider" style="background:#{{ random_color_1 }}" for="{{ id_1 }}"></div>
        <input style="display: none" name="group_color" value="{{ random_color_1 }}">
        <div class="md-form">
            <input type="text" name="q_group_name-{{ id_1 }}" class="form-control">
            <label for="q_group_name-{{ id_1 }}">Название группы</label>
        </div>
        <div class="md-form">
            <input type="text" name="q_admin_log-{{ id_1 }}" class="form-control">
            <label for="q_admin_log-{{ id_1 }}">Логин админа</label>
        </div>
        <div class="md-form">
            <input type="password" name="q_admin_password-{{ id_1 }}" class="form-control">
            <label for="q_admin_password-{{ id_1 }}">Пароль админа</label>
        </div>
        <h4 style="color:#424242" class="mb-1 text-center">Маршрут группы</h4>
        <div class="group_waypoints_list" id="group_waypoints_list-{{ id_1 }}">
            <div class="group_waypoint">
                <input style="display: none" name="q-col-{{ id_1 }}">
                <div class="md-form">
                    <input type="text" id="q_address-{{ id_1 }}-1" name="q_address-{{ id_1 }}-1"
                           second_name='q_address' class="form-control">
                    <label for="q_address-{{ id_1 }}-1">Адрес</label>
                </div>
                <input type="text" style="display: none" name="sh-{{ id_1 }}-1">
                <input type="text" style="display: none" name="dl-{{ id_1 }}-1">
                <div class="md-form">
                    <input type="text" id="q_code-{{ id_1 }}-1" name="q_code-{{ id_1 }}-1" class="form-control">
                    <label for="q_code-{{ id_1 }}-1">Правильный ответ</label>
                </div>
                <div class="md-form">
                    <textarea type="text" id="q_description-{{ id_1 }}-1"
                              name="q_description-{{ id_1 }}-1" class="md-textarea"></textarea>
                    <label for="q_description-{{ id_1 }}-1">Подсказка</label>
                </div>
            </div>
        </div>
        <div class="text-center hovergrey p-1 mb-1" id="add_group_waypoint" for="{{ id_1 }}">
            <span>
                <?xml version="1.0" encoding="iso-8859-1"?>
                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg height="20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 42 42" style="enable-background:new 0 0 42 42; margin-top: 0.5rem;" xml:space="preserve">
                <polygon points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 "/>
                </svg>
            </span>
        </div>
    </div>
    <div class="group col-md-6 float-left">
        <div class="divider" style="background: #{{ random_color_2 }}" for="{{ id_2 }}"></div>
        <input style="display: none" name="group_color" value="{{ random_color_2 }}">
        <div class="md-form">
            <input type="text" name="q_group_name-{{ id_2 }}" class="form-control">
            <label for="q_group_name-{{ id_2 }}">Название группы</label>
        </div>
        <div class="md-form">
            <input type="text" name="q_admin_log-{{ id_2 }}" class="form-control">
            <label for="q_admin_log-{{ id_2 }}">Логин админа</label>
        </div>
        <div class="md-form">
            <input type="password" name="q_admin_password-{{ id_2 }}" class="form-control">
            <label for="q_admin_password-{{ id_2 }}">Пароль админа</label>
        </div>
        <h4 style="color:#424242" class="mb-1 text-center">Маршрут группы</h4>
        <div class="group_waypoints_list" id="group_waypoints_list-{{ id_2 }}">
            <div class="group_waypoint">
                <input style="display: none" name="q-col-{{ id_2 }}">
                <div class="md-form">
                    <input type="text" id="q_address-{{ id_2 }}-1" name="q_address-{{ id_2 }}-1"
                           second_name='q_address' class="form-control">
                    <label for="q_address-{{ id_2 }}-1">Адрес</label>
                </div>
                <input type="text" style="display: none" name="sh-{{ id_2 }}-1">
                <input type="text" style="display: none" name="dl-{{ id_2 }}-1">
                <div class="md-form">
                    <input type="text" id="q_code-{{ id_2 }}-1" name="q_code-{{ id_2 }}-1" class="form-control">
                    <label for="q_code-{{ id_2 }}-1">Правильный ответ</label>
                </div>
                <div class="md-form">
                    <textarea type="text" id="q_description-{{ id_2 }}-1"
                              name="q_description-{{ id_2 }}-1" class="md-textarea"></textarea>
                    <label for="q_description-{{ id_2 }}-1">Подсказка</label>
                </div>
            </div>
        </div>
        <div class="text-center hovergrey p-1 mb-1" id="add_group_waypoint" for="{{ id_2 }}" >
            <span>
                <?xml version="1.0" encoding="iso-8859-1"?>
                <!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                <svg height="20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 42 42" style="enable-background:new 0 0 42 42; margin-top: 0.5rem;" xml:space="preserve">
                <polygon points="42,20 22,20 22,0 20,0 20,20 0,20 0,22 20,22 20,42 22,42 22,22 42,22 "/>
                </svg>
            </span>
        </div>
    </div>
</div>