<div class="md-form" id="code_par">
    <input type="text" id="code" name="code" class="form-control">
    <label for="code" class="">Код</label>
</div>
<input type="hidden" name="cr_code" value="{{ crypt_code }}">
<div class="md-form" id="new_pass1_par">
    <input type="password" id="new_pass1" name="new_password1" class="form-control">
    <label for="new_pass1" class="">Новый пароль</label>
</div>
<div class="m-2 text-center red-text" id="err" style="display:none">Длина пароля должна быть больше 7 символов.</div>                       
<div class="md-form" id="new_pass2_par">
    <input type="password" id="new_pass2" name="new_password2" class="form-control">
    <label for="new_pass2" class="">Подтверждение пароля</label>
</div>
<div class="text-center">
    <button class="btn primary-color darken-3" id="cont">Восстановить</button>
</div>
<script>
    $(document).ready(function(){
        $('#cont').on('click', function(){
            code = $("input[name=code]").val();
            cr_code = $("input[name=cr_code]").val();
            new_password1 = $("input[name=new_password1]").val();
            new_password2 = $("input[name=new_password2]").val();
            if(new_password1.length > 7){
                $("#new_pass1_par").removeClass("error");
                $("#err").css("display","none");
                $.post('../reminde_confirmation/',{code:code,cr_code:cr_code,new_password1:new_password1,new_password2:new_password2},function(data){
                    if(data == "0"){
                        $("#code_par").addClass("error");
                        $("#new_pass2_par").removeClass("error");
                    }
                    if(data == "1"){
                        $("#code_par").removeClass("error");
                        $("#new_pass2_par").addClass("error");
                    }
                    if(data == "3"){
                        $("#code_par").removeClass("error");
                        $("#new_pass1_par").addClass("error");
                    }
                    if(data == "2"){
                        document.location.href = 'https://oleggys.ru/profile';
                    }
                });
            }
            else{
                $("#new_pass1_par").addClass("error");
                $("#err").css("display","block");
            }
        });
    });
</script>
                                                        