{% extends 'qworld/base.html' %}

{% block title %}
Оплата выполнена - {{ quest.name }}
{% endblock %}
{% block content %}
    <div class="col-lg-12 mt-2">
        <div class="card p-4 text-center">
            <div class="green-text mb-1" style="opacity: 0.6; font-size: 2rem">
                <i class="fa fa-check-circle-o fa-5x" aria-hidden="true"></i>
            </div>
            <div style="opacity: 0.5; font-size: 1.2rem" class="mb-1">
                Оплата за квест <strong>{{ quest.name }}</strong> произведена.
            </div>
        </div>
        <div class="card p-0 text-center mt-2 mb-2">
            <a href="{% url 'quest' quest.id %}" class="btn btn-dark-green  m-0">Перейти к квесту</a>
        </div>
    </div>
{% endblock %}