{% extends 'qworld/base.html' %}
{% block title %}
    404 - Квест не существует
{% endblock %}
{% block content %}
    <div class="col-lg-12 mt-2 mb-2">
        <div class="card">
            <p id="icon" class="m-auto" style="text-shadow: rgb(179, 179, 179)
            0px 0px 0px, rgb(180, 180, 180) 1px 1px 0px,
             rgb(182, 182, 182) 2px 2px 0px, rgb(184, 184, 184)
              3px 3px 0px, rgb(186, 186, 186) 4px 4px 0px,
               rgb(188, 188, 188) 5px 5px 0px, rgb(190, 190, 190)
                6px 6px 0px, rgb(192, 192, 192) 7px 7px 0px,
                rgb(194, 194, 194) 8px 8px 0px, rgb(196, 196, 196)
                 9px 9px 0px, rgb(198, 198, 198) 10px 10px 0px,
                 rgb(200, 200, 200) 11px 11px 0px, rgb(201, 201, 201)
                 12px 12px 0px, rgb(203, 203, 203) 13px 13px 0px,
                 rgb(205, 205, 205) 14px 14px 0px, rgb(207, 207, 207)
                 15px 15px 0px, rgb(209, 209, 209) 16px 16px 0px,
                  rgb(211, 211, 211) 17px 17px 0px, rgb(213, 213, 213)
                  18px 18px 0px, rgb(215, 215, 215) 19px 19px 0px,
                   rgb(217, 217, 217) 20px 20px 0px, rgb(219, 219, 219)
                    21px 21px 0px, rgb(221, 221, 221) 22px 22px 0px,
                    rgb(222, 222, 222) 23px 23px 0px, rgb(224, 224, 224) 24px 24px 0px, rgb(226, 226, 226) 25px 25px
                    0px, rgb(228, 228, 228) 26px 26px 0px, rgb(230, 230, 230) 27px 27px 0px, rgb(232, 232, 232) 28px
                     28px 0px, rgb(234, 234, 234) 29px 29px 0px, rgb(236, 236, 236) 30px 30px 0px, rgb(238, 238, 238)
                     31px 31px 0px, rgb(240, 240, 240) 32px 32px 0px, rgb(242, 242, 242) 33px 33px 0px,
                     rgb(244, 244, 244) 34px 34px 0px, rgb(245, 245, 245) 35px 35px 0px, rgb(247, 247, 247) 36px 36px
                     0px, rgb(249, 249, 249) 37px 37px 0px, rgb(251, 251, 251) 38px 38px 0px, rgb(253, 253, 253) 39px
                     39px 0px; font-size: 200px; color: rgb(255, 255, 255); height: 400px; width: 400px; line-height:
                    400px; border-radius: 0%; text-align: center; background-color: rgb(255, 255, 255);"> 404 </p>
            <p class="text-center mb-2 p-2" style="opacity: 0.5; font-size: 1.2rem">Данный квест не существует или создатель этого квеста не внёс плату.</p>
        </div>
    </div>
{% endblock %}